@{
    ViewData["Title"] = "Home Page";
}

    <h4 style="color:darkkhaki">Види повеќе податоци за туратите <b><a asp-controller="Turas" asp-action="Index" style="color:darkgoldenrod">овде</a></b>!</h4>

    <body style="background-image: url('images/poz.jpg');
        background-repeat: no-repeat;
        background-size: cover;">

        <div class="card-columns">
            <div class="card"  style="background-color: darkkhaki">
                <div class="card-body">
                    <h5 class="card-title" style="color:brown"><b>Крчин</b></h5>
                </div>
                <div class="card-img"><img src="~/images/krcin.jpg" width="355" height="200" /></div>
                <div class="card-footer">
                    <h5 style="text-align:justify">
                        Планината Крчин се протега во продолжение на планината Дешат и е дел од поголемиот венец Шара-Кораб-Дешат-Крчин-Стогово-Караорман.На прекрасниот Крчин расте ендемски македонски каранфил кој исклучиво може да се најде само на оваа планина.
                    </h5>

                </div>
            </div>


            <div class="card"  style="background-color: darkkhaki">
                <div class="card-body">
                    <h5 class="card-title" style="color:brown"><b>Кампинг Црно Езеро</b></h5>
                </div>
                <div class="card-img"><img src="~/images/crnoEzero.jpg" width="355" height="200" /></div>
                <div class="card-footer">
                    <h5 style="text-align:justify">
                        Кампувањето на Црното езеро-ледничко езеро кое е на второ место меѓу Шарпланинските езера е неверојатно.Се наоѓа во Брустовичкиот масив, на неговата јужна падина наспроти северната на која што заедно се наоѓаат Белото и Боговињското езеро.
                    </h5>

                </div>
            </div>

        </div>


        <div class="card-columns">
            <div class="card"  style="background-color: darkkhaki">
                <div class="card-body">
                    <h5 class="card-title" style="color:brown"><b>Шар Планина</b></h5>
                </div>
                <div class="card-img"><img src="~/images/shara.jpg" width="355" height="200" /></div>
                <div class="card-footer">
                    <h5 style="text-align:justify">
                        Шар Планина-сместена во северозападниот дел на Македонија, оваа планина гледано од рамнината има изглед на питома, лесно браносана планина со средна висина. Но кога ќе почнете Врвот Љуботен зазема најистакната положба на целото шарпланинско било, а највисок е врвот Титов Врв – 2.748 метри.
                    </h5>
                </div>
            </div>


            <div class="card"  style="background-color: darkkhaki">
                <div class="card-body">
                    <h5 class="card-title" style="color:brown"><b>Кањон Плачковица</b></h5>
                </div>
                <div class="card-img"><img src="~/images/plackovica.jpg" width="355" height="200" /></div>
                <div class="card-footer">
                    <h5 style="text-align:justify">
                        На планината Плачковица се наоѓаат и три прекрасни кањони: Камник,Козјак и Зрновка во кои се наоѓаат прекрасни природни убавини.На оваа тура се посетува Камник кој е еден од најрепрезентативните мали,создаден во долината Радањска Река, поточно нејзината притока Кошевска Река.
                    </h5>
                </div>
            </div>
        </div>

    </body>